{% load static %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>{% block title %}Aedespot{% endblock %}</title>
    <link rel='shortcut icon' href='{% static 'images/favicon.ico' %}' type='image/x-icon'/ >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/aedes.css' %}"/>
</head>

<body>

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'core:index' %}"
                                          class="brand-logo">Aedespot</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'core:index' %}">Mapa</a></li>
            <li><a href="#">Centros de interesse</a></li>
            <li><a href="#">Sobre</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="{% url 'core:index' %}">Mapa</a></li>
            <li><a href="#">Centros de interesse</a></li>
            <li><a href="#">Sobre</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

{% block content %}{% endblock %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/aedes.js' %}"></script>
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/simpleheat.js' %}"></script>
<script src="{% static 'js/heatmap.js' %}"></script>

{% block localjs %}
{% endblock %}
</body>

</html>
