{% extends 'base.html' %}

{% block title %}
    Aedespot::Últimas ocorrências
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Últimas ocorrências</h3>
        <p>
            Listando as últimas <b>{{ latest.count }}</b> ocorrência{{ latest.count|pluralize:'s' }}
            registrada{{ latest.count|pluralize:'s' }} recentemente
        </p>

        <div class="row">
            {% for report in latest %}

                <!-- Card definition -->
                {% include 'components/latest_card.html' with report=report %}

                <!-- Making sure there are two cards by line -->
                {% if forloop.counter|divisibleby:2 %}
                    </div>
                    <div class="row">
                {% endif %}

            {% endfor %}
            </div>
    </div>
{% endblock %}
