{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="map" style="height: 89%;"></div>
{% endblock %}

{% block localjs %}

    <script>
        var initial_coords = [-13.4095972, -53.8941599];
        var initial_zoom = 5;
        var target_zoom = 14;

        var map = L.map('map').setView(initial_coords, initial_zoom);

        // Initializing map
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {}).addTo(map);

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setPosition);
        } else {
            alert('Não foi possível achar você no mapa.');
        }

        function setPosition(position) {
            var user_position = [position.coords.latitude, position.coords.longitude];
            map.panTo(user_position, {animate: true, duration: 1});

            // Zooming into user's location
            function zoom() {
                map.zoomIn(3, {animate: true});
            }

            setTimeout(zoom, 1000);
            setTimeout(zoom, 1500);
            setTimeout(zoom, 2000);
        }

        // Plotting points as a heatmap
        L.heatLayer([
            {% for report in reports %}
                [{{ report.latitude|safe }}, {{ report.longitude|safe }}, 1.0]
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        ], {radius: 25}).addTo(map);

        // Adding cluster centers
        {% for cluster in clusters %}
            L.marker([{{ cluster.latitude|safe }}, {{ cluster.longitude|safe }}])
                    .bindPopup({% include 'cluster_info.html' %}).addTo(map);
        {% endfor %}
    </script>
{% endblock %}
